.row 
  .col-md-8.col-md-offset-2
    .jumbotron
      %h1 Welcome
      = link_to 'SignUp', signup_path
      %br
      = link_to 'LogIn', login_path
      %br
      = link_to 'Education Programs', education_programs_path
      %br
      = link_to 'Groups', groups_path
      %br
      = link_to 'Users', users_path