%h1.text-center
  Groups
.row
  .col-md-10.col-md-offset-1
    .jumbotron
      = will_paginate
      %table.table
        %tr
          %th
            Title
          %th 
            Links
          
        - @groups.each do |group|
          %tr
            %td 
              = group.title
            %td
              = link_to 'SHOW', group
              - if current_user.admin?
                | 
                = link_to 'EDIT', edit_group_path(group)
                | 
                = link_to 'REMOVE', group, method: :delete, data: { confirm: 'You sure?' }
      = will_paginate